- title "Om Lyche"
/ - pageclass "fullwidth"

%h1 Om Lyche

= image_tag "lyche-less-wide.png"

%p.intro
  Lyche er en restaurant og bar på Studentersamfundet i Trondhjem. Lyche ligger plassert på søndre side av bygget, under Edgar. Både kjøkken og bar blir drevet 100% på frivillig basis av ca. 90 studenter. Dette er engasjerte amatører som gjør en profesjonell jobb og yter alt for at nettopp du skal få en optimal opplevelse.

%p
  Lokalene til Lyche har hatt mange funksjoner opp gjennom tiden. Til å begynne med lå det leiligheter for vaktmester og der hvor Lyche nå er plassert. Fram til 2006 ble lokalene leid ut til private aktører og gikk under navnet Puben. I 2006 tok studentene og de frivillige på Samfundet over lokalene og startet opp forløperen til det som er dagens Lyche. Navnet Lyche kommer fra en av Samfundets tidligere ledere, #{link_to "Ralph Tambs Lyche", 'http://no.wikipedia.org/wiki/Ralph_Tambs_Lyche'}. Fram til 2010 hadde Lyche et enkelt kantinepreget konsept med dagens middag til en billig penge.

%p
  I anledning Samfundets 100-årsjubileum i 2010 ble Lyche pusset opp: dagens middag ble skiftet ut til fordel for en heftig à la carte-meny, de frivillige på kjøkkenet ble kurset til det ugjenkjennelige, og restauranten fikk i det hele tatt et helt nytt konsept over hele linja. Vi gjør stadig små endringer både i lokalet og i menyen for hele tiden å skape en best mulig opplevelse for gjestene.

%p
  Vi holder åpent hver dag. I ukedagene og på dagtid i helgene kan du nyte deilig mat med gode venner i en behagelig atmosfære med rolig bakgrunnsmusikk. Fredag og lørdag kveld skrus imidlertid volumet opp, lyset ned og restauranten forvandles til en bar med yrende liv.
