- title "Admin"

%h1= title

%p= link_to "Administrer brukere", admin_users_path

%h2 Administrer meny

%ol.categories
  - for category in Category.all
    %li.category{ data: { category_id: category.id } }
      %h3= link_to category.title, edit_admin_category_path(category)
      
      %ol.dishes
        - for dish in category.dishes
          %li.dish{ data: { update_url: admin_dish_path(dish, format: :json) } }
            = link_to dish.title, admin_dish_path(dish)
