- title "Kontakt"

%h1 Ta kontakt

%p!= "Her kommer det et fint skjema som bare sender en mail til #{link_to "lyche@samfundet.no", "mailto:lyche@samfundet.no"}, men som får det hele til å virke proffere enn det er."
