- title "Informasjon"

- content_for :sidebar do
  = render 'sidebar/actual_hours'

%h1 Informasjon

%p.intro
  Vi har en variert meny med småretter, hovedretter og desserter, og det finnes også flere vegetaralternativer. For allergioversikt, trykk her:(link til allergioversikt)

%p Vennligst beregn noe ekstra ventetid på mat dersom vi har mye gjester.

%h3 Handicaptilgang

%p Våre lokaler er tilrettelagt også for handicappede med inngang og eget toalett.

%h3 Vegetarmat

= "..."

%h3 Allergier

= "..."
