
@mixin clearfix {
  &:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
  	}
  &.clearfix { display: inline-table; }
  /* Hides from IE-mac \*/
  * html & { height: 1%; }
  & { display: block; }
  /* End hide from IE-mac */
}

