.sidebar-box table.opening-hours {
  font-size: 1.2em;
}

table.opening-hours {
  th {
    text-align: left;
    padding-right: 1em;
  }
}

form {
  .input {
    margin: 1em 0;
  }

  label {
    display: block;
    margin-top: 1em;
  }

  input {
    display: block;
    width: 100%;

    &[type='text'], &[type='textarea'] {
      border: 1px solid #777;
      padding: 5px;
      color: #fff;
      background: #333;
    }

    &[type='submit'] {
      width: 120px;
      margin-top: 1em;
      clear: both;
    }
  }

  textarea {
    display: block;
    width: 100%;

    border: 1px solid #777;
    padding: 5px;
    color: #fff;
    background: #333;
  }
}
