div.notice {
    margin: 0 auto;
    padding: 0.5em 1em;
    background: rgba(0, 255, 0, 0.5);
    border: 1px solid rgba(0, 255, 0, 0.3);
    color: #fff;
}

div.alert {
    margin: 0 auto;
    padding: 0.5em 1em;
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: #fff;
}
*[data-href] {
  cursor: pointer;
}

hr {
  height: 37px;
  background: url(/assets/hr-bg.png) repeat-x center center;
  border: none;
}

br {
  clear: both;
}
