
@font-face {
  font-family: UniversCondensed;
  src: url(/fonts/UniversLTStd-LightCn.otf);
}

@font-face {
  font-family: Univers;
  src: url(/fonts/UniversLTStd-Light.otf);
}

body {
  font-family: Univers, arial, sans-serif;
  font-size: 14px;
}

#mainmenu {
  font-family: UniversCondensed, 'arial', sans-serif;
  font-size: 18px;
}

#foot {
  font-family: arial;
}

a {
  text-decoration: none;
  color: $primary;
}

#head a, #foot a {
  color: #fff;
}

strong {
  font-weight: bold;
}
