
@font-face {
  font-family: UniversCondensed;
  src: url(/fonts/UniversLTStd-LightCn.otf);
}

@font-face {
  font-family: Univers;
  src: url(/fonts/UniversLTStd-Light.otf);
}

@font-face {
  font-family: UniversBold;
  src: url(/fonts/UniversLTStd-Bold.otf);
}

@font-face {
  font-family: Bitter;
  src: url(/fonts/Bitter-Bold.ttf);
}

body {
  font-family: Univers, arial, sans-serif;
  font-size: 14px;
}

#mainmenu {
  font-family: UniversCondensed, 'arial', sans-serif;
  font-size: 18px;
}

#foot {
  font-family: arial;
}

h1, h2 {
  font-family: Bitter, serif;
}
h3 {
  font-family: UniversBold, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

h1 {
  font-size: 48px;
  margin: .1em 0 .5em;
}

a {
  text-decoration: none;
  color: $primary;
}

#head a, #foot a {
  color: #fff;
}

strong {
  font-weight: bold;
}
