- title "Brukere"

%h1= title

%p
  = link_to "Opprett ny bruker", new_admin_user_path

%ul.users
  - for user in @users
    %li
      = link_to user.email, admin_user_path(user)
      - unless user == current_user
        = link_to "(slett)", admin_user_path(user), method: :delete, confirm: "Er du sikker?"
